<h2 mat-dialog-title>Ayuda</h2>
<mat-dialog-content class="mat-typography">
  <h5>Ejemplo de archivo .csv</h5>
  <p>La cabezera el opcional y el formateado es opcional</p>
  <pre style='background-color: lightgrey;'>
soilWeight, tamizDiameter
         0,             8
       3.4,             4
     21.26,             2
     34.73,             1
     35.69,           0.5
     31.31,          0.25
     38.26,         0.053
     25.37,             0 </pre>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cerrar</button>
  <!--<button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button>-->
</mat-dialog-actions>
