<div class="table-container">
  <form [formGroup]="form">
    <table>
      <thead>
        <tr>
          <th>Diámetro tamiz (mm)</th>
          <th>Peso de suelo (g)</th>
        </tr>
      </thead>
      <tbody formArrayName="rows">
        <tr *ngFor="let row of rows().controls; let i = index" [formGroupName]="i">
          <td>
            <input
              formControlName="tamizDiameter"
              type="text"
              (input)="updateRow(i, 'tamizDiameter', $event)"
            />
          </td>
          <td>
            <input
              formControlName="soilWeight"
              type="text"
              (input)="updateRow(i, 'soilWeight', $event)"
            />
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan='2'>
            <button mat-raised-button color="primary" (click)="addRow()">+</button>
          </td>
        </tr>
      </tfoot>
    </table>
  </form>

  <div class="button-container">
    <input hidden (change)="onSelectFile($event)" #fileInput type="file" accept=".csv">
    <button type="button" mat-raised-button (click)="fileInput.click()">Insetar csv</button>

    <button mat-raised-button color="accent" (click)="onClickSubmit()">Calcular</button>
    <button mat-raised-button color="accent" (click)="onClickReset()">Reset</button>
    <button mat-raised-button color="accent" (click)="onClickAddExample()">Ejemplo</button>
  </div>
</div>
