<form [formGroup]="form">
  <div formArrayName="rows">
    <div *ngFor="let row of rows.controls; let i = index" [formGroupName]="i">
      <mat-form-field>
        <mat-label>Soil Weight</mat-label>
        <input
          matInput
          formControlName="soilWeight"
          type="number"
          [min]="0"
          step='0.1'
          [max]="100"
          (input)="updateRow(i, 'soilWeight', $event)"
          appPreventWheel
        />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Tamiz Diameter</mat-label>
        <input
          matInput
          formControlName="tamizDiameter"
          type="number"
          [min]="0"
          step='0.1'
          [max]="10"
          (input)="updateRow(i, 'tamizDiameter', $event)"
          appPreventWheel
        />
      </mat-form-field>

      <div *ngIf="!row.valid" class="error-message">
        Please enter valid values for both fields.
      </div>
    </div>
  </div>

  <button mat-raised-button (click)="addRow()">Add Row</button>
  <button mat-raised-button (click)="calculate()">Calculate</button>
</form>
