$result-background: #f5f5f5;

.results {
  display: flex;
  flex-direction: row;
  @media (width <= 1080px) {
    flex-direction: column;
  }
  gap: 16px;
  width: 100%;
  //max-width: 600px;
  margin: auto;

}



.one-number-result {
  margin: auto;
  margin-bottom: 2rem;
  max-width: 400px;
  text-align: center;
  background-color: $result-background;
  font-weight: bold;
  font-size: 1.5rem;
  h3 {
    margin-block-start: 0em;
  }
}


.secundary-info {
  display: flex;
  flex-wrap: wrap;
  //flex-direction: column;
  column-gap: 1rem;
  row-gap: 1rem;
  justify-content: center;

  .result-rows {
    font-size: 12px;
    max-width: 240px;
    background-color: $result-background;
  }
}


mat-card {
  padding: 16px;

}

mat-list-item {
  font-size: 1.2rem;
}
